body{
	background-color: black;
}
.pagina{
	font-size: 30px;
	color: white;
	position: absolute;
		left: 6%;
		top: 21%;
	transform: translate(-50%, -50%);
	font-family: impact;
}
.pag{
	padding-right: 8px;
	padding-left: 8px;
	border-radius: 7px;
	border: solid;
}
.menu{
	background-color: #000000;
	width: 100%;
	height: 90px;
}
.botaomenu{
	height: 20px;
	width: 573px;
	position: absolute;
		left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 45px;
}
.loja{
	margin-left: 10%;
}
.botao{
		font-size: 25px;
		font-family: Impact;
		color: white;
		background-color: black;
		border-color: white;
	border-radius: 25px;
		height: 50px;
		width: 150px;
}
.botao:hover{
		font-size: 25px;
		font-family: Impact;
		color: black;
		background-color: white;
		border-color: gray;
	border-radius: 25px;
		height: 50px;
		width: 150px;
}
.imagembg{
	opacity: 4%;
		position: absolute;
		left: 50%;
		top: 50%;
	transform: translate(-50%, -50%);
}
.mais{
	background-color: black;
	width: 900px;
	height: 400px;
	position: absolute;
		left: 50%;
		top: 140%;
	transform: translate(-50%, -50%);
}
.botaomais{
	margin-top: 0px;
	margin-left: 15%;
	font-size: 25px;
		font-family: Impact;
		color: white;
		background-color: black;
		border-color: white;
	border-radius: 25px;
		height: 230px;
		width: 250px;
}
.botaomais:hover{
		font-size: 25px;
		font-family: Impact;
		color: black;
		background-color: white;
		border-color: gray;
	border-radius: 25px;
		height: 230px;
		width: 250px;
}
.botaomais2{
	position: absolute;

	margin-left: 15%;
	font-size: 25px;
		font-family: Impact;
		color: white;
		background-color: black;
		border-color: white;
	border-radius: 25px;
		height: 230px;
		width: 250px;
}
.botaomais2:hover{
		font-size: 25px;
		font-family: Impact;
		color: black;
		background-color: white;
		border-color: gray;
	border-radius: 25px;
		height: 230px;
		width: 250px;
}
.rodape{
	font-size: 15px;
	font-weight: bold;
	font-family: arial;
	background-color: white;
	position: absolute;
	top: 105%;
	width: 99%;
}
.conteudo{
	padding: 7px;
	color: white;
	border-radius: 8px;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom: solid;
	border-top: solid;
	border-color: white;
	position: absolute;
		left: 50%;
		top: 54%;
	transform: translate(-50%, -50%);
	height: 500px;
	width: 800px;
	letter-spacing: 1px;
}
.form{
  position: absolute;
  width: 100%;
}
.input {
	border-radius: 10px;
	color: white;
	border-color: white;
	border-style: solid;
	background-color: black;
  width: 96%;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.nomevoando {
	font-family: impact;
  position: absolute;
  background-color: white;
  padding: 5px;
  font-size: 14px;
  color: black;
   transform: translateX(-50%);
  border: 1px solid #333;
}
.botaolegal {
	margin-top: 1%;
	background-color: black;
  width: 99%;
  height: 35px; 
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  border: solid;
}
.botaolegal:hover {
  background-color: white;
  border-color: gray;
  color: black;
}
.bomba{
	width: 400px;
}